/* You can add global styles to this file, and also import other style files */

.swal2-container,
.swal2-container.mfa-swal-container,
.swal2-backdrop,
.swal2-backdrop-show,
.swal2-popup {
  position: fixed !important;
  z-index: 999999 !important;
  top: 0 !important;
  left: 0 !important;
}
